body {
	margin: 0;
	padding: 0;
	background-image: url(img/bg-home.jpg);
}

.fixed {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.navbar {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 15px black;
}

.headpad {
	height: 3.0em;
}

.links {
	margin-left: auto;
	display: inline-flex;
	align-items: baseline;
	margin-right: 1em;
}

a.ref {
	padding: 0.8em 0.4em;
	font-size: 1em;
	text-decoration: none;
	color: #fff;
	transition: all 0.4s ease;
	font-family: 'Dosis', sans-serif;
}

a.ref:hover {
	color: #000;
	background-color: #fff;
}

.name {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1em;
}

.logo {
	margin: 1em 0;
	display: inline-flex;

}

.logo > img {
	margin-left: auto;
	margin-right: auto;

	max-height: 380px
}

.main > section {
	min-height: 30vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	padding: 1em;
}

.main > section:nth-child(2n) {

	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px black;
	color:white;

	
}

.header {
	font-family: 'Dosis', sans-serif;
	color:white;
	margin-left: auto;
	margin-right: auto;
}

.content {
	font-family: 'Raleway', sans-serif;
	color:white;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.footer {
	text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 0.4em;
    font-family: sans-serif;
    color: white;
    box-shadow: 0 0 15px black;
	font-size: 0.7em;
}

.person {
	display: flex;
	flex-direction: column;
}

.about > h3 > a {
	text-decoration: none;
	color: silver;
}

.companies {
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
}

.company-logo {
    margin: 1em;
    display: inline-flex;
}

.company-logo > img {
    margin: auto;
}

.oyo-logo {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px #ef3e3a;
}

.address {
	margin: 1em;
	color: white
}

@media (max-width: 420px) {
	.name > img {
		width: 125px;
	}
	a.ref {
		padding: 0.6em 0.3em;
	}
	.headpad {
		height: 2.2em;
	}
}
